<h1>pictures一覧</h1>
<%= notice %>
<table>
  <tr>
    <td>本文</td>
    <td>画像</td>
  </tr>
  <% @picture.each do |picture|%>
  <tr>
    <td><%= picture.user.name%></td>
    <td><%= picture.content%></td>
  </tr>
<%end%>
</table>
