<div class="pictures_show_outerframe">
  <% unless @picture.user_id == current_user.id %>
    <% if @favorite.present? %>
      <h1>お気に入り解除画面</h1>
      <%= image_tag @picture.image%>
      <h2><%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete %></h2>
    <% else %>
      <h1>お気に入り登録画面</h1>
      <%= image_tag @picture.image%>
      <h2><%= link_to 'お気に入りする', favorites_path(picture_id: @picture.id), method: :post %></h2>
    <% end %>
  <% end %>
</div>
